@use 'variables' as *;

.root {
    position: relative;
    height: calc(100vh - spacing(32));
    background-image: linear-gradient(theme('primary'), theme('purple'));

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: spacing(1);
        justify-content: center;
    }
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba($color: #fff, $alpha: 1);
    mask-image: url('/images/pixels.svg');
    mask-repeat: repeat;
    mask-size: 200px;
    z-index: 0;
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: spacing(8);
    height: spacing(25);
    background-color: theme('brown');
    border-top: spacing(1) solid theme('background');
    border-bottom: spacing(1) solid theme('primary');
    z-index: 1;
}

.floor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: spacing(2);
    background-color: theme('brown');
    border-top: spacing(1) solid theme('background');
    border-bottom: spacing(1) solid theme('primary');
    z-index: 1;
}

.missedout {
    position: absolute;
    width: spacing(15);
    height: 200%;
    // background-image: url('/images/explosion-1.png');
    background-image: url('/images/missedout.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    left: 0;
    right: 0;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
}

.explosion-2 {
    position: absolute;
    width: spacing(20);
    height: 100%;
    background-image: url('/images/explosion-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    left: spacing(2);
    bottom: spacing(4);
    margin: auto;
    z-index: 2;
    display: none;

    @media #{$mq-small} {
        display: block;
    }
}

// .explosion-3 {
//     position: absolute;
//     width: spacing(20);
//     height: 100%;
//     background-image: url('/images/explosion-3.png');
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-position: bottom;
//     right: spacing(2);
//     bottom: spacing(4);
//     margin: auto;
//     z-index: 2;

//     display: none;

//     @media #{$mq-small} {
//         display: block;
//     }
// }

.mountain-1 {
    position: absolute;
    width: spacing(20);
    height: 100%;
    background-color: theme('primary');
    mask-image: url('/images/mountain.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: bottom;
    left: 0;
    right: 0;
    bottom: spacing(4);
    margin: auto;
    z-index: 2;
}

.mountain-2 {
    position: absolute;
    width: spacing(25);
    height: 100%;
    background-color: theme('secondary');
    mask-image: url('/images/mountain.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: bottom;
    left: spacing(10);
    right: 0;
    bottom: spacing(4);
    margin: auto;
    z-index: 1;
    display: none;

    @media #{$mq-small} {
        display: block;
    }
}

.mountain-3 {
    position: absolute;
    width: spacing(25);
    height: 100%;
    background-color: theme('purple-brown');
    mask-image: url('/images/mountain.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: bottom;
    left: spacing(-10);
    right: 0;
    bottom: spacing(4);
    margin: auto;
    z-index: 1;
}

.mountains {
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, theme('purple-brown'), theme('secondary'));
    mask-image: url('/images/mountain.svg');
    mask-repeat: repeat-x;
    mask-size: spacing(15);
    mask-position: bottom;
    left: 0;
    right: 0;
    bottom: spacing(4);
    margin: auto;
    z-index: 1;
}

.degen-1 {
    position: absolute;
    height: spacing(10);
    width: spacing(10);
    background-image: url('/images/degens/1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    left: 5%;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
}

.degen-2 {
    position: absolute;
    height: spacing(10);
    width: spacing(10);
    background-image: url('/images/degens/5.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    left: 15%;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
    display: none;

    @media #{$mq-small} {
        display: block;
    }
}

.degen-3 {
    position: absolute;
    height: spacing(10);
    width: spacing(10);
    background-image: url('/images/degens/6.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    left: 25%;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
    display: none;

    @media #{$mq-small} {
        display: block;
    }
}

.degen-4 {
    position: absolute;
    height: spacing(10);
    width: spacing(10);
    background-image: url('/images/degens/7.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    right: 25%;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
    transform: scaleX(-1);
    display: none;

    @media #{$mq-small} {
        display: block;
    }
}

.degen-5 {
    position: absolute;
    height: spacing(10);
    width: spacing(10);
    background-image: url('/images/degens/8.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    right: 15%;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
    transform: scaleX(-1);
    display: none;

    @media #{$mq-small} {
        display: block;
    }
}

.degen-6 {
    position: absolute;
    height: spacing(10);
    width: spacing(10);
    background-image: url('/images/degens/10.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    right: 5%;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
    transform: scaleX(-1);
}

.doomer-1 {
    position: absolute;
    height: spacing(10);
    width: spacing(10);
    background-image: url('/images/doomers/1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    right: 5%;
    bottom: spacing(0);
    margin: auto;
    z-index: 3;
    transform: scaleX(-1);
}

.parallax-1 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    // bottom: spacing(1);
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    // height: spacing(5);
    // margin-top: spacing;
    background-image: url('/images/parallax/1.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    // background-attachment: fixed;
    background-size: 35%;
    // background-size: 20%;
    z-index: 0;
    border-radius: spacing(1);
}

.parallax-2 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    // bottom: spacing(1);
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    // height: spacing(5);
    // margin-top: spacing;
    background-image: url('/images/parallax/2.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    // background-attachment: fixed;
    background-size: 35%;
    // background-size: 20%;
    z-index: 0;
    border-radius: spacing(1);
}

.parallax-3 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    // bottom: spacing(1);
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    // height: spacing(5);
    // margin-top: spacing;
    background-image: url('/images/parallax/3.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    // background-attachment: fixed;
    background-size: 35%;
    // background-size: 20%;
    z-index: 0;
    border-radius: spacing(1);
}

.parallax-4 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    // bottom: spacing(1);
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    // height: spacing(5);
    // margin-top: spacing;
    background-image: url('/images/parallax/4.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    // background-attachment: fixed;
    background-size: 35%;
    // background-size: 20%;
    z-index: 0;
    border-radius: spacing(1);
}
