@use 'variables' as *;

.root {
    display: flex;
    padding: spacing(2);
    border-radius: spacing(1);
    margin: spacing(2);

    &.light {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &.light-shake {
        animation: shake 1s infinite;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &.dark {
        // animation: shake 1s infinite;
        background-color: rgba(12, 12, 12, 0.25);
        color: rgb(216, 206, 206);
    }

    &.light-text {
        color: rgb(216, 206, 206);
    }

    &.left {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    &.shake {
        animation: shake 1s infinite;
    }
    @keyframes shake {
        0% {
            transform: translate(2px, 1px) rotate(0deg) scale(1);
        }
        10% {
            transform: translate(-1px, -2px) rotate(-2deg);
        }
        20% {
            transform: translate(-3px, 0px) rotate(3deg);
        }
        30% {
            transform: translate(0px, 2px) rotate(0deg);
        }
        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }
        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }
        70% {
            transform: translate(2px, 1px) rotate(-2deg);
        }
        80% {
            transform: translate(-1px, -1px) rotate(4deg);
        }
        90% {
            transform: translate(2px, 2px) rotate(0deg);
        }
        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    h1 {
        background: theme('primary');
        background-image: -webkit-linear-gradient(
            to right,
            theme('primary') 0%,
            theme('secondary') 100%
        );
        background-image: -moz-linear-gradient(
            to right,
            theme('primary') 0%,
            theme('secondary') 100%
        );
        background-image: linear-gradient(to right, theme('primary') 0%, theme('secondary') 100%);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: black;
    }
}

.lightText {
    color: theme('lightText');
}
