@use 'variables' as *;

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.75);
    z-index: 1000;
}

.wrapper {
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 90%;
    max-width: spacing(30);
    border-radius: spacing(1);
    overflow: auto;
}

.title {
    display: flex;
    align-items: center;
    padding: spacing(1);
    font-family: Cybersomething-font;
    color: theme('primary');
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.close {
    margin-left: auto;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.content {
    padding: spacing(1);
    max-height: 60vh;
    overflow: auto;
}
