@use 'variables' as *;

.root {
    margin-top: spacing(4);
    padding: spacing(1);
}

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: spacing(1);
    background-color: rgba(0, 0, 0, 0.1);
    padding: spacing(2);
    border-radius: spacing(1);
    gap: spacing(1);
}
