@use 'variables' as *;

.root {
    margin-top: spacing(4);
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: spacing(1);
    background-color: rgba(0, 0, 0, 0.1);
    padding: spacing(2);
    border-radius: spacing(1);
    gap: spacing(1);

    @media #{$mq-small} {
        flex-direction: row;
    }
}

.menu {
    min-width: 25%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: spacing(1);
    border-radius: spacing(1);

    .menu-container {
        display: flex;
        flex-direction: column;
        gap: spacing(1);
    }

    .title {
        background: linear-gradient(
            90deg,
            rgba($color: theme('secondary'), $alpha: 0.5),
            rgba($color: theme('primary'), $alpha: 0.5)
        );
        padding: spacing(1);
        margin-bottom: spacing(1);
        border-radius: spacing(0.25);
    }
}

.content {
    background-color: rgba(0, 0, 0, 0.25);
    padding: spacing(2);
    border-radius: spacing(1);
    flex-grow: 1;
}

.icon {
    width: spacing(1);
    height: spacing(1);
    background: linear-gradient(
        90deg,
        rgba($color: theme('secondary'), $alpha: 1),
        rgba($color: theme('primary'), $alpha: 1)
    );
    border-radius: spacing(0.1);
}
