@use 'variables' as *;

.root {
    position: relative;
    padding-bottom: spacing(4);
    background-color: theme('primary');
    // background-image: url('/images/pixels.svg');
    background-repeat: repeat;
    background-size: 1000px;
}

.lining {
    display: block;
    position: absolute;
    // background-image: url('/images/pixels-lining.svg');
    background-repeat: repeat-x;
    bottom: spacing(-2.5);
    left: 0;
    right: 0;
    height: spacing(5);
    z-index: 1;
}

.container {
    display: flex;
    height: spacing(4);
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: spacing(1);

    .image {
        display: flex;
        background-color: rgba($color: #fff, $alpha: 0.25);
        height: spacing(4.5);
        width: spacing(4.5);
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        img {
            width: spacing(3);
        }
    }

    h1 {
        display: none;

        @media #{$mq-small} {
            display: block;
        }
    }
}

.socials {
    margin-left: auto;
    display: flex;
    gap: spacing(1);

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: spacing(4);
        height: spacing(4);
        background-color: rgba($color: #fff, $alpha: 0.25);
        border-radius: 50%;
        transition: 0.4s;

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.5);
        }

        img {
            width: spacing(2);
        }
    }
}
