@use 'variables' as *;

@keyframes doomers-change {
    5% {
        background-image: url('/images/doomers/1.webp');
    }
    10% {
        background-image: url('/images/doomers/2.webp');
    }
    15% {
        background-image: url('/images/doomers/3.webp');
    }
    20% {
        background-image: url('/images/doomers/4.webp');
    }
    25% {
        background-image: url('/images/doomers/5.webp');
    }
    30% {
        background-image: url('/images/doomers/6.webp');
    }
    35% {
        background-image: url('/images/doomers/7.webp');
    }
    40% {
        background-image: url('/images/doomers/8.webp');
    }
    45% {
        background-image: url('/images/doomers/9.webp');
    }
    50% {
        background-image: url('/images/doomers/10.webp');
    }
    55% {
        background-image: url('/images/doomers/11.webp');
    }
    60% {
        background-image: url('/images/doomers/12.webp');
    }
    65% {
        background-image: url('/images/doomers/13.webp');
    }
    70% {
        background-image: url('/images/doomers/14.webp');
    }
    75% {
        background-image: url('/images/doomers/15.webp');
    }
    80% {
        background-image: url('/images/doomers/16.webp');
    }
    85% {
        background-image: url('/images/doomers/17.webp');
    }
    90% {
        background-image: url('/images/doomers/18.webp');
    }
    95% {
        background-image: url('/images/doomers/19.webp');
    }
    100% {
        background-image: url('/images/doomers/20.webp');
    }
}

.wrapper {
    padding: spacing(2);
    border-radius: spacing(1);
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: spacing(3.5);
}

.root {
    display: flex;
    flex-direction: column;
    gap: spacing(4);
}

.section {
    display: flex;
    gap: spacing(2);
    flex-direction: column;

    @media #{$mq-small} {
        flex-direction: row;
        align-items: stretch;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        min-width: 50%;
        min-height: spacing(15);
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: spacing(1);

        @media #{$mq-small} {
            width: auto;
        }
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: spacing(1);
        justify-content: center;
    }
}

.doomers {
    display: block;
    height: spacing(15);
    width: spacing(15);
    margin: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
    border-radius: 25px;

    animation: doomers-change 10s ease infinite;
}

.world {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 80%;
    width: 80%;
    margin: auto;
    background-image: url('/images/city-scene.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    z-index: 0;
    border-radius: spacing(1);
}

.coins {
    height: 180px;
}

.dao {
    height: 180px;
}
