@use 'variables' as *;

.root {
    position: relative;
    margin-top: spacing(4);
    padding-top: spacing(4);
    background-color: theme('primary');
    background-image: url('/images/pixels.svg');
    background-repeat: repeat;
    background-size: 1000px;
}

.lining {
    display: block;
    position: absolute;
    background-image: url('/images/pixels-lining.svg');
    background-repeat: repeat-x;
    top: spacing(-2.5);
    left: 0;
    right: 0;
    height: spacing(5);
    z-index: 1;
    transform: scaleY(-1);
}

.container {
    display: flex;
    height: spacing(4);
    align-items: center;
}
